@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Header or Navbar */
header {
    width: 100%;
    background-color: #000000;
}
.inicio{
  overflow-x: hidden;
  margin-top: 50px;
  margin-left: 90px;
  
}

.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    max-width: 1280px;
    margin: 0 auto;
}

.nav-logo img {
    width: 350px;
    /*max-width: 90px;*/
    height: 70px;
    position: relative;
    margin-top: 10px;
    width: 128px;
    left: -160px;
    padding: 0px 0px 10px 0px;
}
.logooo{
  left: 10px;
}
.address .deliver {
  margin-left: 20px;
  font-size: 0.75rem;
  color: #ccc;
  position: relative;
  left: -150px;
}

.address .map-icon {
  display: flex;
  align-items: center;
  position: relative;
  left: -150px;
}


.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  position: relative;
  left: -90px;
}



.select-search  {
  background: #f3f3f3;
  width: 80px;
  text-align: center;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: none;
}

.search-input {
    position: relative;
    width: 90%;
    font-size: 1rem;
    border: none;
    outline: none;
    padding-left: 10px;
}
/*.search-input,.select-search,.nav-search:focus{
  border: 1px solid orange;
}*/

.nav-search{
  display: flex;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 0px;
}

.nav-search:focus-within{
  border: 3px solid orange;
}

.nav-search input{
  flex: 1;
  border: none;
  padding: 2px;

}

.search-icon {
  max-width: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: #febd68;
  color: #000;
  cursor: pointer;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.sign-in p,
.returns p {
    font-size: 0.75rem;
}

.sign-in,
.returns span {
    font-size: 0.875rem;
    font-weight: 600;
}

.cart {
  display: flex;
  position: relative;
  
}

.cart .cart-icon {
  font-size: 2.5rem;
  position: relative;
  right: -190px;
}

.cart p {
  margin-top: 20px;
  font-weight: 500;
  position: relative;
  right: -100px;
}

.banner {
  padding: 10px 20px;
  background: #222f3d;
  color: #fff;
  font-size: 0.875rem;
}

.bandera{
    width: 40px;
    display: flex;
    position: relative;
    padding: 2px;
}
.cambiar_idioma{
  margin-left: -70px;
    display: flex;
    position: relative;
}

.returns{
    width: 200PX;
    position: relative;
    right: -90px;
    
}

.sign-in{
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    padding: 0px 0px 0px 20px;
    right: -20px;
}
.icono {
    width: 40px;
    display: flex;
    position: relative;
    padding: 2px;
}
.carro{
    margin-bottom: 20PX;
    width: 40px;
    display: flex;
    position: relative;
    padding: 2px;
}

.textoo{
  margin-left: 470px;
  margin-top: -630px;
  color: black;
  font-size: 1.1em;
  position:absolute;
  width: 300px;
}
.textoo2{
  margin-left: 1030px;
  margin-top: -518px;
  color: rgb(156, 156, 156);
  font-size: 0.8em;
  position:absolute;
  width: 300px;
}
/*========================================*/
.super a{
  margin-top: 15px;
  margin-bottom: -9px;
  margin-left: 50px;
  cursor: pointer;
  color: rgb(92, 92, 92);
}
.super{
  display: flex;
  margin: 10px;
  
}
.videos{
  margin-right:-10px;
}
.imagen{
  position: relative;
  border-bottom: 2px solid rgb(255, 157, 0);
  
}
.super li{
display: flex;
cursor: pointer;

}
/*prueba*/
.banner {
  padding: 10px 20px;
  background: #222f3d;
  color: #fff;
  font-size: 0.875rem;
}

.banner-content {
  margin: 0 auto;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
}

.panel {
  max-width: 1280px;
  display: flex;
  margin-left: -80px;
  gap: 5px;
  cursor: pointer;
}

.panel span {
  margin-right: 7px;
}
.subgato{
  width: 10px;
  height: 10px;
}
.links {
  display: flex;
  list-style: none;
  gap: 15px;
  flex-grow: 1;
  margin-left: 15px;
}

.links a {
  padding: 10px 0;
}


/*fin prueba*/
/*==========================================================================================================================*/

main{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.7);
}
.modal{
  margin-top:69px ;
  margin-left: 140px;
    border-radius: 10px;
    position: relative;
    width: 85%;
    
    height: 700px;
    background: #ffffff;
  }
  .contenedor{
      margin-left: 160px;
  }
  .product-image{
    
    display: flex;
    position: relative;
    margin-left: 230px;
    margin-top:20px ;
    margin-bottom:5px ;
    margin-right: 10px;
    width: 450px;
    height: auto;
  }
  .raya{
    margin-left: 45px;
    margin-right: 45px;
  }
  .img_modal{
    border-radius: 30px;
    display: flex;
    width: 600px;
    height: auto;
  }
  
  .closer{
    width: 27px;
    height: 27px;
    top: 2px;
    margin: 1px;
    right: 2px;
    position: absolute;
    font-size: 1.4em;
    border: 3px solid rgb(44, 176, 224, 0.3);
    border-radius: 4px;
    line-height: 1.1em;
    padding: 1px 4px 0 1;
  }
  .clo{
    width: 27px;
    height: 27px;
    top: 2px;
    margin: 1px;
    right: 2px;
    position: absolute;
    font-size: 1.4em;
    border: 3px solid rgb(44, 176, 224, 0.3);
    border-radius: 4px;
    line-height: 1.1em;
    padding: 1px 4px 0 1;
    
  }
  
  .product-info{
    display: flex;
    margin-left: 420px;
    padding: 12px;
  }
  
  .info p{
    display: flex;
    margin-left: 100px;
    padding: 12px;
  }
  .logo-calificacion{
    margin-top: -38px;
  }
  #modal{
    display: none;
  }
  
  
  /*INICIO DE PAGINA COMO SE VE */


  /*CORRECCION*/
  .imagen_prin{
    width: 540px;
    position: relative;
    left: 150px;
    display: flex;
    
  }
  .sub-imagenes{
    display: flex;
    width: 250px;
    position: relative;
    bottom: -50px;
    margin-left: 300px;
  }
  .primero_segunda{
    width: 50px;
    display: flex;
    position: relative;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    margin: 5px;
  }
  .segunda_segunda{
    display: flex;
    position: relative;
    width: 50px;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    margin: 5px;
  }
  .tercer_segunda{
    width: 50px;
    display: flex;
    position: relative;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    margin: 5px;
  }
  .cuarta_segunda{
    width: 50px;
    position: relative;
    display: flex;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    margin: 5px;
  }
  .quinta_segunda{
    width: 50px;
    display: flex;
    position: relative;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    margin: 5px;
  }
  
  
  /*fin de las notas del producto*/
 /*ESTO son las imagenes del modal*/
 .imagenes{
   display: flex;
   width: 250px;
   margin-top: -480px;
   margin-left: 900px;
   
 }
  .primero{
    width: 50px;
    display: flex;
    position: relative;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    margin: 5px;
  }
  .segunda{
    display: flex;
    position: relative;
    width: 50px;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    margin: 5px;
  }
  .tercer{
    width: 50px;
    display: flex;
    position: relative;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    margin: 5px;
  }
  .cuarta{
    width: 50px;
    position: relative;
    display: flex;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    margin: 5px;
  }
  .quinta{
    width: 50px;
    display: flex;
    position: relative;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    margin: 5px;
  }
  /*GATOOO PROPAGANDA*/
  .gato-propaganda{
    width: 100%;
   position: relative;
    
    height: 55px;
    background-color: rgba(255, 255, 255, 0.962);
    border-bottom: solid 1px rgb(203, 203, 203);
  }
  .informacion-subgato{
    font-size: 12px;
    font-weight: bold;
    width: 720px;
    margin-left: 325px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
  }
  .subgato{
    
   margin-left: 260px;
   position: relative;
  }
  .segundaestrella{
    margin-left:1060px ;
    position: relative;
    display: flex;
    margin-top:-20px ;
    color: #febd68;
    font-size: 13px;
  }
  .ind{
    display: flex;
    margin-left:20px;
    margin-top: -12px;
    font-size: 12px;
    position: relative;
    color: gray;
  }
  .precio{
    font-size: 22px;
    color: rgb(176, 7, 7);
    margin-left: 25px;
    margin-top: -15px;
  }
  .precio2{
    color: rgb(176, 7, 7);
    margin-top: -15px;
  }
  .check{
    margin-left: 4px;
    position: relative;
    display: flex;
  }
  .sisas{
    margin-left: 16px;
    position: relative;
    margin-top: -15px;
    color: rgb(1, 197, 203);
    display: flex;
  }
  .carga{
    display: flex;
    position: relative;
    margin-left: 725px;
    top: -608px;
    font-size: 20px;
  }
  .sip{
    top: -800px;
    display: flex;
    position: relative;
  }
  .sapoooo{
    display: flex;
    position: absolute;
    margin-top: 8px;
    
    font-size: 10px;
    color: rgb(111, 110, 110);
  }
  .sapoooo:hover{
    color: #febd68;
  }
  .sangana{
    display: flex;
    position: absolute;
    margin-top: -11px;
    margin-left: 8px;
    color: rgb(110, 110, 110);
    width: 200px;
    font-size: 10px;
  }
  .sangana:hover{
    text-decoration: underline;
  }
  .derecha{
    width: 700px;
  }
  .menu{
    width: 280px;
    height: 500px;
    position: absolute;
    left: 1280px;
    padding: 20px;
    margin-top: -970px;
    border: 1px solid rgb(115, 115, 115);
    border-radius: 20px;
  }
  .preciomenu{
    
    width: 280px;
    height: 50px;
  }
  .menuprepri{
    display: flex;
    position: relative;
  }
  .valor{
    margin-left:35px;
    font-size: 2em;
    margin-top: -30px;
  }.sub-valor{
    margin-left:55px;
    margin-top: -35px;
  }
  .dato{
    margin-left:80px;
    margin-top: -18px;
  }
  .dato-menu{
    
    width: 260px;
    height: 45px;
    color: #878787;
  }
  .lugar{
    width: 260px;
    height: 20px;
    
    color: rgb(29, 194, 219);
  }
  .chispas{
    font-size: 10px;
    margin-left: 5px;
    color: rgb(187, 185, 185);
  }
  .entrega{
    width: 260px;
    height: 75px;
    position: relative;
    
    font-size: 15px;
  }
  .entrega2{
  font-weight: bold;
    margin-top: -20px;
    margin-left: 75px;
  }
  .entrega4{
    color: green
  }
  .ubicacion{
    display: flex;
    position: relative;
    width: 260px;
    height: 35px;
  }
  .ubicacion1{
    color: rgb(29, 194, 219);
    margin-left: 10px;
  }
  .ubicacion1:hover{
    color: rgb(219, 162, 29);
  }
  .detalle{
    color: rgb(29, 194, 219);
  }
  .detalle:hover{
    color: rgb(219, 162, 29);
  }
  .disponible{
    color: green;
    font-weight: 600;
    font-size: 18px;
  }
  .canti{
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .can{
    border-radius: 6px;
    width: 100px;
    box-shadow: 0px 2px 0px 0px rgb(194, 193, 193);
  }
  .botones{
    margin-left: 10px;
  }
  .boton1{
    position: relative;
    background-color:gold;
    height: 35px;
    border-radius: 20px;
    width: 220px;
    border: none;
  }
  .boton2{
    border-radius: 20px;
    border: none;
    
    position: relative;
    margin-top: 10px;
    height: 35px;
    width: 220px;
    background-color: rgb(255, 136, 0);
  }
  
  
  /*===================================================================*/
  .principal2{
    width: 380px;
    height: 370px;
    left: 790px;
    position: relative;
    top: -600px;
    padding: 2px;
  }
  .texto_principal2{
    
    display: flex;
    position: relative ;
    width: 370px;
    font-size: 22px;
    font-weight: 520; 
  }
  .empresa{
    color: rgb(8, 169, 219);
    font-size: 15px;
    
    margin-top: 5px;
  }
  .empresa-color{
    color: rgb(8, 169, 219);
    text-decoration: solid;
  }
  .empresa-color:hover{
    color: rgb(255, 149, 0);
    text-decoration: solid;
  }
  .producto-informacion{
    
    margin-top: 5px;
    display: inline-flex;
    font-size: 14px;
  }
  .producto-numero{
    margin-right: 5px;
  }
  .abajo{
    font-size: 9px;
    margin-left: 2px;
    color: #000000;
  }
  .starts{
    color: #febd68;
  }
  .opiniones{
    color: rgb(102, 199, 232);
  }
  .opiniones:hover{
    color: #f8991c;
  }
  .store{
    background-color: #000;
    padding: 2.5px;
    display: inline-flex;
    font-size: 15px;
    margin-top: 5px;
  }
  .storeA{
    color: #f3f3f3;
  }
  .storeB{
    color: #f8991c;
  }
  .storeInfo{
    
    display: inline-flex;
  }
  .textStoreInfo{
    font-size: 13px;
    display: inline-flex;
  }
  .compras{
    font-size: 12.5px;
    margin-top: 6px;
  }
  
  .cantidadDescuento{
    margin-top: 8px;
    display: inline-flex;
  }
  .descuentropri{
    color: rgb(255, 30, 0);
    font-size: 22px;
  }
  .descuentoseg{
    color: rgb(255, 30, 0);
    font-size: 22px;
    margin-left:5px ;
  }
  .descuentotre{
    font-size: 14px;
  }
  .descuentoCua{
   font-size: 28px;
   margin-top: -4px;
  }
  .descuentoCin{
    font-size: 13px;
  }
  .recomendaciones{
    display: inline-flex;
    font-size: 15px;
    color: #878787;
  }
  .recomendaciones_text{
   margin-top: -3px;
  }
  .recomendaciones_pre{
    text-decoration-line: line-through;
    font-size: 12px;
    margin-bottom: -2px;
  }
  .entregas{
    font-size: 14px;
    display: inline-flex;
  }
  .entregas_tex{
    color: #3d3e3e;
    display: inline-flex;
  }
  .link_detalles{
    display: inline-flex;
  }
  .entregas_link{
    color: #307e7e;
    display: inline-flex;
  }
  .entregas_link:hover{
    color: rgb(247, 156, 10);
    display: inline-flex;
  }
  .feliz{
    display: inline-flex;
    font-size: 8px;
    margin-top: 8px;
    padding-left: 5px;
  }
  .descuentos{
    margin-top: 8px;
  }
  .calificaciones_totales{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-left: -480px;
    border: 1px solid black;
    margin-top: -169px;
    position: absolute;
    display: none;
    
  }
  .triangulo{
    width: 10px;
    height: 5px;
    border-left: 11px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 14px solid rgb(0, 0, 0);
    margin-top: -900px;
  
    position: absolute;
    margin-left: 137px;
    margin-top: -14px;
    display: block;
   
  }
  .triangulo::before {
  content: '';
  position: absolute;
  top: -2px; /* Ajustar según el grosor del borde */
  left: -10px; /* Ajustar según el grosor del borde */
  width: 0;
  
  height: 0;
  border-left: 12px solid transparent; /* Ajustar según el grosor del borde */
  border-right: 12px solid transparent; /* Ajustar según el grosor del borde */
  border-bottom: 18px solid rgb(255, 255, 255); /* Color del borde */
}
.estrella {
  color: rgb(255,164,28);
  font-size: 2em;
}
.box-estrellas {
  display: flex;
  flex-direction: row;
  display: block;
}
.barra {
  width: 200px;
  height: 30px;
  margin-bottom: 5px;
  border: 2px solid rgb(133, 133, 133);
  border-radius: 10px;
  display: block;
  overflow:hidden;
  margin-left:80px ;
  display: inline-flex;
  text-align: center;
}
.grafica-barras {
  margin-top: 50px;
  display: block;
}
.barra-1-puntaje, .barra-2-puntaje, .barra-3-puntaje,
.barra-4-puntaje, .barra-5-puntaje {
  background-color: rgb(255, 132, 0);
  width: 0px;
  height: 30px;
  overflow: hidden;
  display: block;
  transition: width 1s;
  text-align: center;
}
/* .barra-1-puntaje, .barra {
  background-color: rgb(255,164,28); */
  /* width: 165px; */
/*     height: 30px;
} */
.xx{
  font-size: 16px;
  color: rgb(0, 255, 204);
  position: absolute;
  margin-top: 0px;
  margin-left: 280px;
  font-weight:900;
}
.xx:hover{
  color: rgb(255, 140, 0);
  transition: 1s;
}
.miPapa{
  display: none;
}
.starts1{
  color: #febd68;
  padding-left: 20px;
  padding-top: 20px;
}
.a{
position: absolute;

width: 100px;
height: 330px;
margin-top: -190px;
margin-left: -588px;
}
.aa{
  position: absolute;
  
  width: 100px;
height: 340px;
margin-top: -190px;
margin-left: -172px;
}
.aaa{
  position: absolute;
  width: 400px;
height: 100px;
margin-top: -289px;
margin-left: -500px;
}
.aaaa{
  position: absolute;
 
  width: 500px;
  height: 100px;
  margin-top: 140px;
  margin-left: -610px;
}
.np{
  color: black;
  display: inline-flex;
  font-size: 18px;
  font-weight: 800;
  margin-left: 5px;
}
.hola{
  display: inline-flex;
  position: absolute;
  text-align: center;
  margin-left: -200px;
  margin-top: 36px;
}
.holasi{
  margin-top: 6px;
  position: absolute;
}