@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Header or Navbar */
header {
    width: 100%;
    background-color: #000000;
}
.inicio{
  overflow-x: hidden;
  margin-top: 50px;
  margin-left: 90px;
  
}

.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    max-width: 1280px;
    margin: 0 auto;
}

.nav-logo img {
    width: 350px;
    /*max-width: 90px;*/
    height: 70px;
    position: relative;
    margin-top: 10px;
    width: 128px;
    left: -160px;
    padding: 0px 0px 10px 0px;
}
.logooo{
  left: 10px;
}
.address .deliver {
  margin-left: 20px;
  font-size: 0.75rem;
  color: #ccc;
  position: relative;
  left: -150px;
}

.address .map-icon {
  display: flex;
  align-items: center;
  position: relative;
  left: -150px;
}


.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  position: relative;
  left: -90px;
}



.select-search  {
  background: #f3f3f3;
  width: 80px;
  text-align: center;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: none;
}

.search-input {
    position: relative;
    width: 90%;
    font-size: 1rem;
    border: none;
    outline: none;
    padding-left: 10px;
}
/*.search-input,.select-search,.nav-search:focus{
  border: 1px solid orange;
}*/

.nav-search{
  display: flex;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 0px;
}

.nav-search:focus-within{
  border: 3px solid orange;
}

.nav-search input{
  flex: 1;
  border: none;
  padding: 2px;

}

.search-icon {
  max-width: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: #febd68;
  color: #000;
  cursor: pointer;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.sign-in p,
.returns p {
    font-size: 0.75rem;
}

.sign-in,
.returns span {
    font-size: 0.875rem;
    font-weight: 600;
}

.cart {
  display: flex;
  position: relative;
  
}

.cart .cart-icon {
  font-size: 2.5rem;
  position: relative;
  right: -190px;
}

.cart p {
  margin-top: 20px;
  font-weight: 500;
  position: relative;
  right: -100px;
}

.banner {
  padding: 10px 20px;
  background: #222f3d;
  color: #fff;
  font-size: 0.875rem;
}

.bandera{
    width: 40px;
    display: flex;
    position: relative;
    padding: 2px;
}
.cambiar_idioma{
  margin-left: -70px;
    display: flex;
    position: relative;
}

.returns{
    width: 200PX;
    position: relative;
    right: -90px;
    
}

.sign-in{
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    padding: 0px 0px 0px 20px;
    right: -20px;
}
.icono {
    width: 40px;
    display: flex;
    position: relative;
    padding: 2px;
}
.carro{
    margin-bottom: 20PX;
    width: 40px;
    display: flex;
    position: relative;
    padding: 2px;
}

.textoo{
  margin-left: 470px;
  margin-top: -630px;
  color: black;
  font-size: 1.1em;
  position:absolute;
  width: 300px;
}
.textoo2{
  margin-left: 1030px;
  margin-top: -518px;
  color: rgb(156, 156, 156);
  font-size: 0.8em;
  position:absolute;
  width: 300px;
}
/*========================================*/
.super a{
  margin-top: 15px;
  margin-bottom: -9px;
  margin-left: 50px;
  cursor: pointer;
  color: rgb(92, 92, 92);
}
.super{
  display: flex;
  margin: 10px;
  
}
.videos{
  margin-right:-10px;
}
.imagen{
  position: relative;
  border-bottom: 2px solid rgb(255, 157, 0);
  
}
.super li{
display: flex;
cursor: pointer;

}
/*prueba*/
.banner {
  padding: 10px 20px;
  background: #222f3d;
  color: #fff;
  font-size: 0.875rem;
}

.banner-content {
  margin: 0 auto;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
}

.panel {
  max-width: 1280px;
  display: flex;
  margin-left: -80px;
  gap: 5px;
  cursor: pointer;
}

.panel span {
  margin-right: 7px;
}
.subgato{
  width: 10px;
  height: 10px;
}
.links {
  display: flex;
  list-style: none;
  gap: 15px;
  flex-grow: 1;
  margin-left: 15px;
}

.links a {
  padding: 10px 0;
}


/*fin prueba*/
/*==========================================================================================================================*/

main{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.7);
}
.modal{
  margin-top:69px ;
  margin-left: 140px;
    border-radius: 10px;
    position: relative;
    width: 85%;
    
    height: 700px;
    background: #ffffff;
  }
  .contenedor{
      margin-left: 160px;
  }
  .product-image{
    
    display: flex;
    position: relative;
    margin-left: 230px;
    margin-top:20px ;
    margin-bottom:5px ;
    margin-right: 10px;
    width: 450px;
    height: auto;
  }
  .raya{
    margin-left: 45px;
    margin-right: 45px;
  }
  .img_modal{
    border-radius: 30px;
    display: flex;
    width: 600px;
    height: auto;
  }
  
  .closer{
    width: 27px;
    height: 27px;
    top: 2px;
    margin: 1px;
    right: 2px;
    position: absolute;
    font-size: 1.4em;
    border: 3px solid rgb(44, 176, 224, 0.3);
    border-radius: 4px;
    line-height: 1.1em;
    padding: 1px 4px 0 1;
  }
  .clo{
    width: 27px;
    height: 27px;
    top: 2px;
    margin: 1px;
    right: 2px;
    position: absolute;
    font-size: 1.4em;
    border: 3px solid rgb(44, 176, 224, 0.3);
    border-radius: 4px;
    line-height: 1.1em;
    padding: 1px 4px 0 1;
    
  }
  
  .product-info{
    display: flex;
    margin-left: 420px;
    padding: 12px;
  }
  
  .info p{
    display: flex;
    margin-left: 100px;
    padding: 12px;
  }
  .logo-calificacion{
    margin-top: -38px;
  }
  #modal{
    display: none;
  }
  
  
  /*INICIO DE PAGINA COMO SE VE */
  .imagen_prin{
    width: 540px;
    position: relative;
    left: 150px;
    display: flex;
    
  }
  .tienda{
    
      display: flex;
      position: relative ;
      width: 350px;
      font-size: 19px;
      color: rgb(8, 169, 219);
      bottom: 580px;
      left: 788px;
  }
  .tienda_text{
    color: rgb(8, 169, 219);
    margin-top: -55px;
    font-size: 15px;
  }
  .tienda_text:hover{
    color: rgb(255, 136, 0);
    text-decoration: solid;
  }
  .text-init{
    display: flex;
    position: relative ;
    width: 450px;
    font-size: 22px;
    font-weight: 520;
    bottom: 648px;
    left: 785px;
  }
  .sub-imagenes{
    display: flex;
    width: 250px;
    position: relative;
    bottom: -50px;
    margin-left: 300px;
  }
  .primero_segunda{
    width: 50px;
    display: flex;
    position: relative;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    margin: 5px;
  }
  .segunda_segunda{
    display: flex;
    position: relative;
    width: 50px;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    margin: 5px;
  }
  .tercer_segunda{
    width: 50px;
    display: flex;
    position: relative;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    margin: 5px;
  }
  .cuarta_segunda{
    width: 50px;
    position: relative;
    display: flex;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    margin: 5px;
  }
  .quinta_segunda{
    width: 50px;
    display: flex;
    position: relative;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    margin: 5px;
  }
  
  /*ESTO SON LAS NOTAS DEL PRODUCTO*/
  .calificacion_producto{
    margin-top: -36px;
    margin-left: -15px;
    
  }
  .estrellas{
    display: flex;
    position: relative ;
    color: #febd68;
    font-size: 13px;
    padding: -7px;
    bottom: 603px;
    left: 830px;
  }
 
  .down{
    display: flex;
    position: relative ;
    font-size: 12px;
    bottom: 603px;
    left: 837px;
    color: rgb(201, 201, 201);
  }
  .calificaciones{
    display: flex;
    position: relative ;
    width: 350px;
      font-size: 13px;
      color: rgb(8, 169, 219);
    bottom: 623px;
    left: 980px;
  }
  .uno{
    bottom: 575px;
    left: 858px;
    display: flex;
    position: relative ;
    color: rgb(255, 136, 0);
  }
  .dos{
    bottom: 595px;
    left: 800px;
    display: flex;
    position: relative ;
color: rgb(255, 255, 255);

  }
  .informacion{
    display: flex;
    position: relative ;
    bottom: 617px;
    font-size: 13px;
    font-weight: 500;
    left: 941px;
  }
  .lo{
    display: flex;
    position: relative ;
    bottom: 638px;
    left: 800px;
  z-index: -1;
    height: 28px;
    background-color: #39577a;
    width: 130px;
  }
  .calificaciones:hover{
    color: rgb(255, 136, 0);
    text-decoration: underline;

  }
  
  .calificacion{
    display: flex;
    position: relative ;
   
    font-size: 16px;
    bottom: 580px;
    left: 800px;
  }
  /*fin de las notas del producto*/
 /*ESTO son las imagenes del modal*/
 .imagenes{
   display: flex;
   width: 250px;
   margin-top: -480px;
   margin-left: 900px;
   
 }
  .primero{
    width: 50px;
    display: flex;
    position: relative;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    margin: 5px;
  }
  .segunda{
    display: flex;
    position: relative;
    width: 50px;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    margin: 5px;
  }
  .tercer{
    width: 50px;
    display: flex;
    position: relative;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    margin: 5px;
  }
  .cuarta{
    width: 50px;
    position: relative;
    display: flex;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    margin: 5px;
  }
  .quinta{
    width: 50px;
    display: flex;
    position: relative;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    margin: 5px;
  }
  /*GATOOO PROPAGANDA*/
  .gato-propaganda{
    width: 100%;
   position: relative;
    
    height: 55px;
    background-color: rgba(255, 255, 255, 0.962);
    border-bottom: solid 1px rgb(203, 203, 203);
  }
  .informacion-subgato{
    font-size: 12px;
    font-weight: bold;
    width: 720px;
    margin-left: 325px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
  }
  .subgato{
    
   margin-left: 260px;
   position: relative;
  }
  .segundaestrella{
    margin-left:1060px ;
    position: relative;
    display: flex;
    margin-top:-20px ;
    color: #febd68;
    font-size: 13px;
  }
  .ind{
    display: flex;
    margin-left:20px;
    margin-top: -12px;
    font-size: 12px;
    position: relative;
    color: gray;
  }
  .precio{
    font-size: 22px;
    color: rgb(176, 7, 7);
    margin-left: 25px;
    margin-top: -15px;
  }
  .precio2{
    color: rgb(176, 7, 7);
    margin-top: -15px;
  }
  .check{
    margin-left: 4px;
    position: relative;
    display: flex;
  }
  .sisas{
    margin-left: 16px;
    position: relative;
    margin-top: -15px;
    color: rgb(1, 197, 203);
    display: flex;
  }
  .carga{
    display: flex;
    position: relative;
    margin-left: 725px;
    top: -608px;
    font-size: 20px;
  }
  .sip{
    top: -800px;
    display: flex;
    position: relative;
  }
  .sapoooo{
    display: flex;
    position: absolute;
    margin-top: 8px;
    
    font-size: 10px;
    color: rgb(111, 110, 110);
  }
  .sapoooo:hover{
    color: #febd68;
  }
  .sangana{
    display: flex;
    position: absolute;
    margin-top: -11px;
    margin-left: 8px;
    color: rgb(110, 110, 110);
    width: 200px;
    font-size: 10px;
  }
  .sangana:hover{
    text-decoration: underline;
  }