.titulo{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(165, 165, 165);
    font-size: 6em;
    letter-spacing: 10px;
    font-family: 'Cinzel', serif;
    color: rgb(226, 223, 223);
    text-shadow: rgb(92, 92, 92 );

}

body{

display: flex;
width: 100%;
height: 100vh;
justify-content: center;
align-items: center;
background: url(img/juego-de-tronos-personajes-en-trono-de-hierro_3840x2160_xtrafondos.com.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}