.titulo{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(165, 165, 165);
    font-size: 6em;
    letter-spacing: 10px;
    font-family: 'Cinzel', serif;
    color: rgb(226, 223, 223);
    text-shadow: rgb(92, 92, 92 );

}

body{

display: flex;
width: 100%;
height: 100vh;
justify-content: center;
align-items: center;
background: url(https://images5.alphacoders.com/865/865686.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
.link{
    text-decoration: none;
    color: aliceblue;
    background-color: rgba(44, 238, 238, 0.219);
    box-shadow: 0 10px 25px rgb(49, 47, 170);
    width: 70px;
    height: 35px;
    border-radius: 10%;
}