*{
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;

}
nav{
    background-color: rgb(224, 224, 224);
    font-size: 1.3rem;
    width: 100%;
    color: white;
}
 nav ul{
    width: 100%;
    text-align: left;
    list-style: none;
    position: absolute;
    left: 0;
    background-color: rgb(148, 140, 140);
    color: white;
}
/*primer menu*/
.first-item{
    margin-left: 50px;
    color: white;
}
nav > ul > li{
    display: inline-block;
    width: 250px;
    line-height: 70px;
    text-align: center;
    color: white;
}
    nav > ul > li:hover{
        background-color: rgb(182, 193, 243);
        cursor: pointer;
        color: white;
        font-family: 'Indie Flower', cursive;
    }
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
ul li{
    position: relative;
}
/*segundo nivel*/

nav li li{
    max-height: 0;
    overflow: hidden;
}
nav li:hover > ul > li{
    max-height: 500PX;
    overflow: visible;
    text-align: center;
    border-right: 1px solid rgb(161, 159, 158) ;;
    border-bottom: 1px solid rgb(161, 159, 158) ;
}
nav li> ul > li:hover {
    background-color: rgb(182, 193, 243);
cursor: pointer;
}
/*tercer nive*/
nav ul ul ul{
    left: 100%;
    top: 0;
}