.link{
    text-decoration: none;
    color: rgb(59, 59, 59);
    background-color: rgba(44, 238, 238, 0.219);
    box-shadow: 0 10px 25px rgb(255, 11, 255);
    width: 70px;
    height: 35px;
    border-radius: 10%;
}