
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    background: url(https://i.pinimg.com/originals/8f/97/a6/8f97a6b4dff4ef7c1656d4e0fada7382.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.titulo{
    font-size: 60px;
    font-family: 'Rubik Iso', cursive;
}
.link{
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
    font-family: 'Titan One', cursive;
}